﻿html, body {
    width: 100%;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: #f7f4f1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    color: #6a6560;
}
.wrap {
    width: 600px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -300px;
}
h2 {
    font-size: 68px;
    line-height: 80px;
    height: 80px;
    border-bottom: 1px solid #cac2b9;
    margin: 0 0 20px;
    padding: 0;
}
a {
    color: #6a6560;
}


@media screen and (max-width: 700px) {
    html, body {
        height: auto;
    }
    .wrap {
        width: auto;
        position: static;
        margin: 50px;
        height: auto;
    }
}
