$middleVerticalAlignWrap
  font-size 0

  &:before
    content ''
    display inline-block
    vertical-align middle
    font-size 0
    height 100%
    width 1px
    overflow hidden
    margin-left -1px

$fs0
  font-size 0

$absFullSize
  position absolute
  top 0
  left 0
  right 0
  bottom 0

/// Placeholder

h-placeholderTextView()
  text-overflow ellipsis
  color #c1c2c2

h-placeholderAnimationShow()
  opacity 1
  transition opacity 0.3s ease

h-placeholderAnimationHide()
  opacity 0
  transition opacity 0.3s ease

$placeholder
  &[placeholder]
    h-placeholderTextView()
  &::-webkit-input-placeholder
    h-placeholderTextView()
  &::-moz-placeholder
    h-placeholderTextView()
  &:-moz-placeholder
    h-placeholderTextView()
  &:-ms-input-placeholder
    h-placeholderTextView()

  &::-webkit-input-placeholder
    h-placeholderAnimationShow()
  &::-moz-placeholder
    h-placeholderAnimationShow()
  &:-moz-placeholder
    h-placeholderAnimationShow()
  &:-ms-input-placeholder
    h-placeholderAnimationShow()

  &:focus::-webkit-input-placeholder
    h-placeholderAnimationHide()
  &:focus::-moz-placeholder
    h-placeholderAnimationHide()
  &:focus:-moz-placeholder
    h-placeholderAnimationHide()
  &:focus:-ms-input-placeholder
    h-placeholderAnimationHide()

$touchSelectSkip
  -webkit-tap-highlight-color transparent