h-underline-link()
  text-decoration none
  background-image linear-gradient(to bottom, rgba(3, 119, 189, .68) 50%,rgba(3, 119, 189, 0) 50%)
  background-repeat repeat-x
  background-size 2px .1em
  background-position 0 1.07em

  &:hover
    background-image linear-gradient(to bottom, rgba(229, 57, 51, .68) 50%,rgba(229, 57, 51, 0) 50%)


$underlineLink
  h-underline-link()