<template lang="pug">
  .content(v-if='doc')
    .grid__wrap.grid__wrap--vspace.grid__wrap--gap
      .grid__el.grid__el--8_4
        .grid__in
          .card.card--fluid
            .card__header(v-html='doc.title')
            .card__body(v-html='doc.text')

</template>
<script>
  import { createNamespacedHelpers } from 'vuex'
  const { mapGetters } = createNamespacedHelpers('docStore')

  export default {
    name: 'doc',

    data() {
      return {
        meta: {
          isShort: false,
          title: '',
          description: '',
          url: '',
        },
      }
    },

    metaInfo() {
      return this.metaData()
    },

    computed: {
      ...mapGetters(['doc']),
    },

    created() {
      this.setMeta()
    },

    methods: {
      setMeta() {
        if (this.doc) {
          var key = this.$route.params.key
          this.meta.title = this.doc.title + ' - Vue starter'
          this.meta.description = this.doc.description
          this.meta.url = this.$tools.const.mainUrl + '/doc/' + key
        }
      },
    },

    asyncData({ store, route }) {
      return store.dispatch('docStore/fetchDoc', {
        key: route.params.key,
      })
    },
  }
</script>
