<template lang="pug">
  .content
    .grid__wrap.grid__wrap--vspace.grid__wrap--gap
      .grid__el.grid__el--8_4
        .grid__in
          .card.card--fluid
            .card__header Vue starter
            .card__body Demo page

      .grid__el.grid__el--8_4
        .grid__in
          .card.card--fluid
            .card__header Pages
            .card__body
              div
                router-link(to='/doc/keyforapi') Api request
              div
                router-link(to='/ui') UI controls
              div
                router-link(to='/errorpage') 404
</template>
<script>
  export default {
    name: 'home',

    data() {
      return {
        meta: {
          isShort: false,
          title: 'Home page',
          description: 'Home page description',
          url: '',
          img: '',
        },
      }
    },

    metaInfo() {
      return this.metaData()
    },

    created() {
      this.meta.url = this.$tools.const.mainUrl
      this.meta.img = this.$tools.const.mainUrl + '/assets/img/defpic.png'
    },
  }
</script>
