<template lang="pug">
  .content
    .grid__wrap.grid__wrap--vspace.grid__wrap--gap
      .grid__el.grid__el--8_8
        .grid__in
          .card.card--fluid
            .card__header UI controls
            .card__body
              .grid__wrap.grid__wrap--gap
                .grid__el.grid__el--8_4
                  .grid__in
                    TextInput.xs-p--reset(v-model='text',
                      label='Textarea',
                      :key='"text" + keyView',
                      :styleClass='$v.text.$error ? "form__text-input--error" :  ""'
                      rows=5,
                      multiline)

                      template(v-if='$v.text.$error', v-slot:error)
                        .form__error(v-if="!$v.text.required") Required
                        .form__error(v-if="!$v.text.noContainEmail") Contain email
                        .form__error(v-if="!$v.text.maxWords") 10 words is max, now is {{ countAllWords }}

                .grid__el.grid__el--8_4
                  .grid__in
                    .form__label-offset.pb-4.xs-pt--reset Rules: <br>no contain email, requred, 10 words is max

              .grid__wrap.grid__wrap--gap.pb--5
                .grid__el.grid__el--8_4
                  .grid__in
                    TextInput.xs-p--reset(v-model='personName',
                    label='Text input',
                    :key='"personName" + keyView',
                    :styleClass='$v.personName.$error ? "form__text-input--error" :  ""')

                      template(v-if='$v.personName.$error', v-slot:error)
                        .form__error(v-if="!$v.personName.required") Required

                .grid__el.grid__el--8_4
                  .grid__in
                    .form__label-offset.pb-4.xs-pt--reset Rules: <br>requred

              .grid__wrap.grid__wrap--gap
                .grid__el.grid__el--8_4
                  .grid__in
                    TextInput.xs-p--reset(v-model='phone',
                      label='Masked phone',
                      :key='"phone" + keyView',
                      :styleClass='$v.phone.$error ? "form__text-input--error" :  ""',
                      :mask='phoneMask'
                      phone)

                      template(v-if='$v.phone.$error', v-slot:error)
                        .form__error(v-if="!$v.phone.required") Required
                        .form__error(v-if="$v.phone.required && !$v.phone.phoneRule") Wrong phone number

                .grid__el.grid__el--8_4
                  .grid__in
                    .form__label-offset.pb-4.xs-pt--reset Rules: <br>requred, phone number

              .grid__wrap.grid__wrap--gap
                .grid__el.grid__el--8_4
                  .grid__in
                    TextInput.xs-p--reset(v-model='email',
                      label='Email',
                      :key='"email" + keyView',
                      :styleClass='$v.email.$error ? "form__text-input--error" :  ""')

                      template(v-if='$v.email.$error', v-slot:error)
                        .form__error Need email

                .grid__el.grid__el--8_4
                  .grid__in
                    .form__label-offset.pb-4.xs-pt--reset Rules: <br>requred, email


              .grid__wrap.grid__wrap--vspace.grid__wrap--gap
                .grid__el.grid__el--8_4
                  .grid__in
                    Checkbox.xs-p--reset(v-model='acceptRules')
                      template(v-slot:label) Need accept

                      template(v-if='$v.acceptRules.$error', v-slot:error)
                        .form__error Need accept

                .grid__el.grid__el--8_4
                  .grid__in
                    .pb-4 Rules: <br>requred check


              .grid__wrap.grid__wrap--vspace.grid__wrap--gap
                .grid__el.grid__el--8_4
                  .grid__in
                    Radio.xs-p--reset.form__radio--inline.mr-4(v-model='radioValue', :value='false', :nameGroup='"radio"')
                      template(v-slot:label) Value false

                    Radio.xs-p--reset.form__radio--inline(v-model='radioValue', :value='true', :nameGroup='"radio"')
                      template(v-slot:label) Value true

                .grid__el.grid__el--8_4
                  .grid__in
                    .pb-4 Checked: {{ radioValue }}

              .grid__wrap.grid__wrap--vspace.grid__wrap--gap
                .grid__el.grid__el--8_4
                  .grid__in
                    Radio.xs-p--reset.form__radio--inline.mr-4(v-model='radio2Value', value='Green', :nameGroup='"radio2"')
                      template(v-slot:label) Value Green

                    Radio.xs-p--reset.form__radio--inline.mr-4(v-model='radio2Value', value='Red', :nameGroup='"radio2"')
                      template(v-slot:label) Value Red

                    Radio.xs-p--reset.form__radio--inline(v-model='radio2Value', value='Yellow', :nameGroup='"radio2"')
                      template(v-slot:label) Value Yellow

                .grid__el.grid__el--8_4
                  .grid__in
                    .pb-4 Checked: {{ radio2Value }}

              .grid__wrap.grid__wrap--vspace.grid__wrap--gap
                .grid__el.grid__el--8_4
                  .grid__in
                    Select.xs-p--reset(label='Select',
                      :options='selectOptions',
                      v-model='selectValue',
                      :key='"selectValue" + keyView',
                      notnull)

                .grid__el.grid__el--8_4
                  .grid__in
                    .form__label-offset.xs-p--reset Selected: {{ selectValue }}

            .card__footer
              Button.mr-4(@click='check', label='Force validate', primary)
              Button(@click='check', label='Confirm validate', danger, confirm='Confirm validate')

</template>
<script>
  import { required, email, sameAs } from 'vuelidate/lib/validators'

  import PhoneMaskMixin from '@/core/mixins/phone-mask-mixin.js'

  const phoneRule = (value, vm) => value.length >= vm.phoneMask.length
  const noContainEmail = (value) => {
    const emailPtrn = /((([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,})))/
    return !emailPtrn.test(value)
  }
  const maxWords = (value, vm) => {
    return vm.countAllWords <= 10
  }

  export default {
    name: 'ui',

    mixins: [PhoneMaskMixin],

    data() {
      return {
        meta: {
          isShort: false,
          title: 'UI controls',
          description: 'UI controls page description',
          url: '',
          img: '',
        },
        keyView: null,
        text: '',
        personName: '',
        phone: '',
        email: '',
        acceptRules: false,
        phoneMask: '(###) ###-##-##',
        countAllWords: 0,
        radioValue: false,
        radio2Value: 'Green',
        selectOptions: [
          {
            label: 'First',
            value: 'first',
          },
          {
            label: 'Second',
            value: 'second',
          },
        ],
        selectValue: 'second',
      }
    },

    metaInfo() {
      return this.metaData()
    },

    watch: {
      phone: function() {
        this.reMask()
      },

      text: function() {
        this.changeText()
      },
    },

    validations: {
      text: {
        required,
        noContainEmail,
        maxWords,
      },
      personName: {
        required,
      },
      email: {
        required,
        email,
      },
      phone: {
        required,
        phoneRule,
      },
      acceptRules: {
        sameAs: sameAs(() => true),
      },
    },

    created() {
      this.meta.url = this.$tools.const.mainUrl
      this.meta.img = this.$tools.const.mainUrl + '/assets/img/defpic.png'
    },

    mounted() {
      this.keyView = this.$tools.utils.getHash(7)
    },

    methods: {
      check() {
        this.$v.$touch()
        if (this.$v.$invalid) {
          return
        }
      },

      changeText() {
        let textValue = this.text.toLowerCase().trim()

        // normalize for count words
        textValue = textValue.replace(/\\-/gi, '')
        textValue = textValue.replace(
          /[^\w\d]+/gi,
          ' '
        )
        textValue = textValue.replace(/\s+/gi, ' ')

        this.countAllWords = textValue.split(/\s+/).length
      },
    },
  }
</script>
