<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    {{{ meta.inject().title.text() }}}{{{ meta.inject().meta.text() }}}{{{ meta.inject().link.text() }}}{{{
    renderResourceHints() }}}{{{ renderStyles() }}}
  </head>
  <body>
    <div id="app"><!--vue-ssr-outlet--></div>
    {{{ renderState() }}} {{{ renderScripts() }}}
  </body>
</html>
