<template lang="pug">
  .content
    .grid__wrap.grid__wrap--vspace.grid__wrap--gap
      .grid__el.grid__el--8_4
        .grid__in
          .card.card--fluid
            .card__header 404 Page not found
            .card__body Try <router-link to='/'>home page</router-link>

</template>
<script>
  export default {
    name: 'notFound',

    data() {
      return {
        meta: {
          isShort: true,
          title: '404',
          description: 'Page not found',
          url: '',
        },
      }
    },

    metaInfo() {
      return this.metaData()
    },
  }
</script>
