<template lang="pug">
  .modal__wrap(v-if='isActive')
    .modal__back
      .modal__window
        .modal__close(@click.stop='hide') &times;
        .modal__header(v-if='$slots.title')
          slot(name='title')

        .modal__sub-header(v-if='$slots.subheader')
          slot(name='subheader')

        .modal__body(v-if='$slots.body')
          slot(name='body')

        .modal__ext-body(v-if='$slots.extbody')
          slot(name='extbody')

        .modal__footer(v-if='$slots.footer')
          slot(name='footer')
</template>

<script>
  export default {
    name: 'baseModal',

    props: {
      message: {
        type: String,
        default: null,
      },
    },

    data() {
      return {
        isActive: false,
      }
    },

    methods: {
      show() {
        document.documentElement.classList.add('modal--open')
        this.isActive = true
        this.$emit('activeStateModal', true)

        setTimeout(() => {
          let modals = document.querySelectorAll('div.modal__back')
          modals.forEach((el) => {
            el.scrollTop = 0
          })
        }, 0)
      },

      hide() {
        document.documentElement.classList.remove('modal--open')
        this.isActive = false
        this.$emit('activeStateModal', false)
      },
    },
  }
</script>
