<template lang="pug">
  BaseModal(ref='modal')
    template(v-slot:title) {{ header || 'Confirm action' }}

    template(v-slot:body)
      div(v-html='message')

    template(v-slot:footer)
      Button(@click='confirm', :label='successLabel || "Confirm"', primary)
      Button(@click='cancel', :label='cancelLabel || "Cancel"', cancel)

</template>

<script>
  export default {
    name: 'confirmModal',

    data() {
      return {
        header: null,
        message: null,
        successLabel: null,
        cancelLabel: null,
        isActive: false,
        cb: null,
      }
    },

    methods: {
      showConfirm({ header, message, successLabel, cancelLabel, cb }) {
        this.header = header
        this.message = message
        this.successLabel = successLabel
        this.cancelLabel = cancelLabel
        this.cb = cb

        this.$refs.modal.show()
      },

      confirm() {
        this.$refs.modal.hide()
        this.cb()
      },

      cancel() {
        this.$refs.modal.hide()
      },
    },
  }
</script>
