<template lang="pug">
  BaseModal.modal__wrap--video(ref='modal')
    template(v-slot:body)
      .embed-responsive.embed-responsive-16by9(v-if='videoKey')
        iframe(allowfullscreen='', frameborder='0', :src='"//youtube.com/embed/" + videoKey')

</template>

<script>
  export default {
    name: 'videoModal',

    data() {
      return {
        videoKey: null,
      }
    },

    methods: {
      showVideo({ key }) {
        this.videoKey = key
        this.$refs.modal.show()
      },
    },
  }
</script>
