h-make-grid(8)
h-make-grid(12)
h-make-grid(16)

.sidebar
  width (8 * $grid-step)
  position fixed
  top 0
  bottom 0
  left 0
  background #f9f9f9

.appwrap
  margin-left (8 * $grid-step)
  padding-bottom 1px

.content
  max-width (146 * $grid-step)
  margin-left (4 * $grid-step)
  margin-right (4 * $grid-step)

  +to-width($screen-sm-max)
    margin-left (2 * $grid-step)
    margin-right (2 * $grid-step)

  +to-width($screen-xs-max)
    margin-left $grid-step
    margin-right $grid-step

.grid__el
  min-width (8 * $grid-step)

  &--to-end
    align-self flex-end

.grid__wrap
  @extend $flexRow

  &--wide
    justify-content space-between

    .grid__el
      flex-grow 1

  &--nowrap
    flex-wrap nowrap

  &--gap
    margin-left (-2 * $grid-step)
    margin-right (-2 * $grid-step)

    .grid__in
      padding 0 (2 * $grid-step)

    +to-width($screen-sm-max)
      margin-left (-1 * $grid-step)
      margin-right (-1 * $grid-step)

      .grid__in
        padding 0 $grid-step

  &--gap-xs
    margin-left (-1 * $grid-step)
    margin-right (-1 * $grid-step)

    .grid__in
      padding 0 $grid-step

  &--vspace
    &.grid__wrap
      &--gap
        > .grid__el
          margin-top (2 * $grid-step)
          margin-bottom (2 * $grid-step)

          +to-width($screen-sm-max)
            margin-top $grid-step
            margin-bottom $grid-step

      &--gap-xs
        > .grid__el
          margin-top $grid-step
          margin-bottom $grid-step

  &--tspace
    &.grid__wrap
      &--gap
        > .grid__el
          margin-top (2 * $grid-step)

          +to-width($screen-sm-max)
            margin-top $grid-step

      &--gap-xs
        > .grid__el
          margin-top $grid-step

  &--bspace
    &.grid__wrap
      &--gap
        > .grid__el
          margin-bottom (2 * $grid-step)

          +to-width($screen-sm-max)
            margin-bottom $grid-step

      &--gap-xs
        > .grid__el
          margin-bottom $grid-step

  +to-width($screen-xs-max)
    display block

.grid__in
  height 100%
