normalize-css()
border-box-html()

html
  height 100%

body
  margin 0 auto
  position relative
  color $base-font-color
  font-family $base-font
  font-size $base-font-size
  font-weight $base-font-weight
  line-height $base-line-height
  -webkit-font-smoothing subpixel-antialiased
  text-rendering optimizeLegibility
  background $background-page
  min-height 100%
  height auto !important
  height 100%

iframe
  vertical-align: top;

img
  max-width 100%
  vertical-align top

sup
  top 0.5em !important
  font-size 70% !important
  vertical-align text-top !important

a
  color $link-color

  &:hover
    color $link-hover

b, strong
  font-weight 700

i,em
  font-style italic
