<template lang="pug">
  .page__wrapper
    .sidebar.to-center.pt-2
      router-link(to='/') Home

    .appwrap
      router-view(:key='$route.fullPath')

    ConfirmModal(ref='confirmModal')
</template>
<script>
  export default {
    name: 'appView',
  }
</script>
