.prop
  &__line,
  &__row
    line-height (3 * $grid-step)

    .prop__list &
      padding (.5 * $grid-step) 0

      &:first-child
        padding-top 0

      &:last-child
        padding-bottom 0

    &--xs
      font-size $xs-font-size
      line-height (2.25 * $grid-step)

      .prop__list &
        padding (.25 * $grid-step) 0

  &__row
    @extend $flexRow
    justify-content space-between
    flex-wrap nowrap

    &:before
      content ''
      display block
      flex-grow 1
      border-bottom 1px dotted #999
      margin 0 (1.5 * $grid-step) $grid-step
      order 1

    .prop__list &
      padding (.5 * $grid-step) 0

      &:first-child
        padding-top 0

      &:last-child
        padding-bottom 0

    &--xs
      &:before
        margin-bottom (0.75 * $grid-step)

  &__label
    text-align left
    order 0

  &__value
    text-align right
    order 2
