.table
  border 0 none
  padding 0
  margin 0
  width 100%
  border-collapse collapse

  th, td
    padding ($grid-step / 2)
    margin 0
    border 0 none

  th
    border-bottom 2px solid #e8e8e8
    font-weight 700

  td
    border-bottom 1px solid #e8e8e8

  th, td
    &:first-child
      padding-left 0

    &:last-child
      padding-right 0

  tr
    &:last-child
      td
        border-bottom 0 none

  tfoot
    td
      border-top 2px solid #e8e8e8
      font-weight 700