<template lang="pug">
  .button(
    v-html='label',
    :class='extCssClass'
    @click='handleClick')

</template>

<script>
  export default {
    inheritAttrs: false,

    props: {
      label: {
        type: String,
        required: true,
      },
      styleClass: {
        type: String,
      },
    },

    data() {
      return {
        initCssClass: '',
      }
    },

    computed: {
      extCssClass() {
        let result = ''
        if (this.styleClass) {
          let extClasses = this.styleClass.split(' ')
          if (extClasses.length > 0) {
            result = extClasses.join(' ')
          }
        }
        if (this.initCssClass) {
          result += ' ' + this.initCssClass
        }

        return result.trim()
      },
    },

    created() {
      var extClasses = []
      if (this.$attrs.primary != null) {
        extClasses.push('button--primary')
      }
      if (this.$attrs.cancel != null) {
        extClasses.push('button--cancel')
      }
      if (this.$attrs.danger != null) {
        extClasses.push('button--danger')
      }
      if (this.$attrs.info != null) {
        extClasses.push('button--info')
      }
      if (this.$attrs.small != null) {
        extClasses.push('button--sm')
      }

      if (extClasses.length > 0) {
        this.initCssClass = extClasses.join(' ')
      }
    },

    methods: {
      handleClick() {
        if (this.$attrs.confirm != null) {
          this.$root.$refs.confirmModal.showConfirm({
            message: this.$attrs.confirm || 'Confirm',
            cb: () => {
              this.$emit('click')
            },
          })
        } else {
          this.$emit('click')
        }
      },
    },
  }
</script>
