<template lang="pug">
  .form__control
    label.form__checkbox
      input(
        type='checkbox',
        :checked='shouldBeChecked',
        :value='value'
        @change='updateInput')
      | <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="ui-checkbox"><rect x="1" y="1" width="22" height="22" rx="4"  class="ui-checkbox__back"/><rect x="3" y="3" width="18" height="18" rx="2"  class="ui-checkbox__empty"/><path d="M18.795 9.18489L10.745 17.2349C10.4716 17.5083 10.0284 17.5083 9.75501 17.2348L5.20501 12.6848C4.93166 12.4115 4.93166 11.9683 5.20501 11.6949L6.19494 10.705C6.46834 10.4316 6.91157 10.4316 7.18492 10.705L10.25 13.7701L16.8151 7.20503C17.0885 6.93164 17.5317 6.93168 17.8051 7.20503L18.795 8.19496C19.0683 8.46831 19.0683 8.91154 18.795 9.18489Z" class="ui-checkbox__check"/></svg>

      slot(name='label')

    slot(name='error')

</template>

<script>
  // https://kirillurgant.com/notes/creating-custom-inputs-vue-js

  export default {
    model: {
      prop: 'modelValue',
      event: 'change',
    },

    props: {
      value: {
        type: String,
      },
      modelValue: {
        default: false,
      },
      trueValue: {
        default: true,
      },
      falseValue: {
        default: false,
      },
    },

    computed: {
      shouldBeChecked() {
        if (this.modelValue instanceof Array) {
          return this.modelValue.includes(this.value)
        }
        return this.modelValue === this.trueValue
      },
    },

    methods: {
      updateInput(event) {
        let isChecked = event.target.checked

        if (this.modelValue instanceof Array) {
          let newValue = [...this.modelValue]

          if (isChecked) {
            newValue.push(this.value)
          } else {
            newValue.splice(newValue.indexOf(this.value), 1)
          }

          this.$emit('change', newValue)
        } else {
          this.$emit('change', isChecked ? this.trueValue : this.falseValue)
        }
      },
    },
  }
</script>
