<template lang="pug">
  .form__control
    label.form__radio
      input(
        type='radio',
        :checked='shouldBeChecked',
        :value='value',
        :name='nameGroup'
        @change='updateInput')
      | <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="ui-radio"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21ZM12 23C18.0751 23 23 18.0751 23 12C23 5.92487 18.0751 1 12 1C5.92487 1 1 5.92487 1 12C1 18.0751 5.92487 23 12 23Z" class="ui-radio__back"/><circle cx="12" cy="12" r="5" class="ui-radio__check"/></svg>

      slot(name='label')

    slot(name='error')

</template>

<script>
  // https://kirillurgant.com/notes/creating-custom-inputs-vue-js

  export default {
    inheritAttrs: false,

    model: {
      prop: 'modelValue',
      event: 'change',
    },

    props: {
      value: {},
      modelValue: {
        default: false,
      },
    },

    data() {
      return {
        nameGroup: '',
      }
    },

    computed: {
      shouldBeChecked() {
        return this.modelValue === this.value
      },
    },

    created() {
      if (this.$attrs.nameGroup != null) {
        this.nameGroup = this.$attrs.nameGroup
      }
    },

    methods: {
      updateInput() {
        this.$emit('change', this.value)
      },
    },
  }
</script>
