<template lang="pug">
  .form__control
    label.form__label(v-html='label')
    select.form__select(v-model='value', @change='handleChange')
      option(v-if='!disableDefault', :value='$tools.const.guidEmpty') Не выбрано
      option(v-for='(item, index) in options'
        :value='item.value', v-html='item.label')

    slot(name='error')

</template>

<script>
  export default {
    inheritAttrs: false,

    model: {
      prop: 'modelValue',
      event: 'change',
    },

    props: {
      modelValue: {
        type: String,
      },
      options: {
        type: Array,
      },
      label: {
        type: String,
        required: true,
      },
    },

    data() {
      return {
        value: null,
        disableDefault: false,
      }
    },

    created() {
      if (!this.modelValue) {
        this.value = this.$tools.const.guidEmpty
      } else {
        this.value = this.modelValue
      }
    },

    mounted() {
      if (this.$attrs.notnull != null) {
        this.disableDefault = true

        if (
          (!this.value || this.value === this.$tools.const.guidEmpty) &&
          this.options &&
          this.options.length > 0
        ) {
          this.value = this.options[0].value
        }
      }
    },

    methods: {
      handleChange() {
        this.$emit('change', this.value)
      },
    },
  }
</script>
