<template lang="pug">
  .form__control
    label.form__label(v-html='label')

    template(v-if='isMiltiline')
      textarea.form__text-input(v-model='value',
        @input='handleInput',
        :placeholder='placeholder',
        :class = 'extCssClass',
        :rows = 'rows'
        ref='targetMiltiline')

    template(v-else)
      input.form__text-input(v-if='mask',
        v-model='value',
        @input='handleInput',
        :placeholder='placeholder',
        :class = 'extCssClass'
        :type = 'type'
        v-mask='maskValue'
        ref='targetMasked')

      input.form__text-input(v-else,
        v-model='value',
        @input='handleInput',
        :placeholder='placeholder',
        :class = 'extCssClass'
        :type = 'type'
        ref='targetUnMasked')

    slot(name='error')

</template>

<script>
  export default {
    inheritAttrs: false,

    model: {
      prop: 'modelValue',
      event: 'input',
    },

    props: {
      label: {
        type: String,
        required: true,
      },
      modelValue: {
        // type: String
      },
      placeholder: {
        type: String,
      },
      styleClass: {
        type: String,
      },
      mask: {
        type: String,
      },
      rows: {
        type: String,
      },
    },

    data() {
      return {
        value: '',
        extCssClass: '',
        type: 'text',
        isMiltiline: false,
      }
    },

    computed: {
      maskValue() {
        return this.mask || 'X'
      },
    },

    watch: {
      styleClass: function() {
        this.cssClassesUpdate()
      },

      modelValue: function() {
        this.value = this.modelValue
      }
    },

    created() {
      this.value = this.modelValue

      if (this.$attrs.number != null) {
        this.type = 'number'
      }
      if (this.$attrs.phone != null) {
        this.type = 'tel'
      }
      if (this.$attrs.multiline != null) {
        this.isMiltiline = true
      }

      this.cssClassesUpdate()
    },

    mounted() {
      if (this.$attrs.focused != null) {
        let target = this.mask
          ? this.$refs.targetMasked
          : this.isMiltiline
          ? this.$refs.targetMiltiline
          : this.$refs.targetUnMasked

        target.focus()
      }
    },

    methods: {
      cssClassesUpdate() {
        let extClasses = this.styleClass.split(' ')
        if (extClasses.length > 0) {
          this.extCssClass = extClasses.join(' ')
        }
      },

      handleInput() {
        this.$emit('input', this.value)
      },
    },
  }
</script>
