$primary-button = #007979;
$primary-button--hover = #009999;
$primary-button--active = #00C7C7;
$primary-button--label = #fff;

$danger-button = #db0000;
$danger-button--hover = #ff3e3e;
$danger-button--active = $danger-button--hover;
$danger-button--label = #fff;

$cancel-button = #62a5f7;
$cancel-button--hover = #85bcff;
$cancel-button--active = $danger-button--hover;
$cancel-button--label = #fff;

$info-button = #62a5f7;
$info-button--hover = #85bcff;
$info-button--active = $info-button--hover;
$info-button--label = #fff;

.button
  @extend $button-reset
  font-size (2 * $grid-step)
  line-height (3 * $grid-step)
  padding $grid-step (3 * $grid-step)

  &--sm
    padding (.5 * $grid-step) (2 * $grid-step)

  &--wide
    display block

  &--primary
    h-button-skin($primary-button)
    color $primary-button--label !important

    &:hover
      h-button-skin-hover($primary-button--hover)

    &:active
      h-button-skin-press($primary-button--active)

  &--danger
    h-button-skin($danger-button)
    color $danger-button--label !important

    &:hover
      h-button-skin-hover($danger-button--hover)

    &:active
      h-button-skin-press($danger-button--active)

  &--cancel
    h-button-skin($cancel-button)
    color $cancel-button--label !important

    &:hover
      h-button-skin-hover($cancel-button--hover)

    &:active
      h-button-skin-press($cancel-button--active)

  &--info
    h-button-skin($info-button)
    color $info-button--label !important

    &:hover
      h-button-skin-hover($info-button--hover)

    &:active
      h-button-skin-press($info-button--active)

  .button__icon
    width 18px
    height 18px
    display inline-block
    vertical-align middle
    margin-right 4px
    margin-left -4px
    margin-top -.13em

    svg
      height 100%
      width 100%

  .button__label
    display inline-block
    vertical-align middle
