.form
  &__error
    color #f00
    font-size 0.87em
    line-height 1.2em
    padding 0.2em 0

  &__control
    padding-bottom (2.5 * $grid-step)

  &__control-wrap
    position relative

    &--icon-end
      &:after
        content ''
        display block
        position absolute
        z-index 1
        background #fff
        width (4 * $grid-step)
        height (4 * $grid-step)
        top (.5 * $grid-step)
        right (.5 * $grid-step)

      .form__text-input
        padding-right (5 * $grid-step) !important

    &--icon-start
      .form__text-input
        padding-left (5 * $grid-step) !important

  &__icon-end
    position absolute
    z-index 2
    cursor pointer
    width (4 * $grid-step)
    height (4 * $grid-step)
    top (.5 * $grid-step)
    right (.5 * $grid-step)
    background #ccc

  &__label
    display block
    font-size $sm-font-size
    font-weight $bold-font-weight
    line-height (2 * $grid-step)
    padding (.5 * $grid-step) 0

  &__label-size
    line-height 2 * $grid-step
    padding 0.5 * $grid-step 0

  &__label-offset
    padding-top 3 * $grid-step

  &__text-input
    font-size (2 * $grid-step)
    height (5 * $grid-step)
    line-height (3 * $grid-step)
    padding $grid-step
    width 100%
    border-radius 2px
    margin 0
    border 1px solid #ccc
    outline none
    background #fff
    @extend $placeholder
    color $base-font-color !important

textarea
  &.form__text-input
    height auto
    vertical-align top