.form__select
  vertical-align middle
  appearance none
  display inline-block

  font-size (2 * $grid-step)
  height (5 * $grid-step)
  line-height (3 * $grid-step)
  padding $grid-step
  width 100%
  border-radius 2px
  margin 0
  border 1px solid #ccc
  outline none
  background-color #fff
  color $base-font-color !important

  text-indent 0.01px
  text-overflow ''
  background-image url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E%0A")
  background-position 100% 50%
  background-repeat no-repeat
  padding-right 22px
  cursor pointer

  &::-ms-expand
    display none

  option
    color $base-font-color !important
    background-color #fff